@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;

}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    border: 2px solid #8133ff;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #fff;
}

.item-price {
    font-weight: bold;
    color: #79cb15;
}

@media screen and (max-width: 768px) {
    .container-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        flex: none;
        width: 40%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li {
        margin: 0 8rem;
    }
}

@media screen and (max-width: 500px) {
    li {
        margin: 0 3rem;
    }
}